Customer Support Voice Agent  Ask Query.json
{
  "name": "Customer Support Voice Agent  Ask Query",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Customer-Support",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -720,
        -32
      ],
      "id": "9f691d75-ead6-45c0-992a-301ef5f10188",
      "name": "Webhook",
      "webhookId": "f6f96267-069f-4e51-98b0-31a43652620a",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.question }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "=You are a web search assistant.  Answer the user's question directly.  Do not provide: - source lists - URLs - website names - citations - references  Only give the final answer in a short and clear way.  If information is unavailable, say you don't know.  Question: {{$json.message}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        -192,
        -32
      ],
      "id": "a7bf3d76-ff74-4b17-8c95-5c3b3ae3ab97",
      "name": "Message a model",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "ITsYd5j0CtmDyATf",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      question:\n        $json.body?.question ||\n        $json.body?.message ||\n        $json.question ||\n        $json.message ||\n        \"What is your question?\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -32
      ],
      "id": "60060545-0389-4ee5-b1a9-56134285bbb6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.output || $json.message || $json.answer || $json.error || \"No answer returned\"}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1712,
        80
      ],
      "id": "dbd0b8ee-e510-4610-9f4b-a34b04ea072d",
      "name": "Respond to Webhook",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      message: $json.body?.question || $json.message || \"Search knowledge base\",\n      category: \"knowledge\"\n    }\n  },\n  {\n    json: {\n      message: $json.body?.question || $json.message || \"Search web\",\n      category: \"web\"\n    }\n  },\n  {\n    json: {\n      message: $json.body?.question || $json.message || \"Search both sources\",\n      category: \"hybrid\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -16
      ],
      "id": "987c72fd-80bc-4b31-ab84-b75c7e451824",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "web",
                    "rightValue": "={{$json.category}}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e0ab8db0-9611-4e6c-bcaf-cddcb37ac681"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5df31821-5bc3-4f52-a592-d9dfd02a0bd4",
                    "leftValue": "knowledge",
                    "rightValue": "={{$json.category}}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "25066dd3-a4bb-4eb2-b60b-a25983992be9",
                    "leftValue": "hybrid",
                    "rightValue": "={{$json.category}}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        464,
        -32
      ],
      "id": "03c1c175-23f7-4f13-bf77-d3f34bcfc7c1",
      "name": "Switch",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=You are a web search assistant.\n\nAnswer using current web information.\nUse latest available information.\nIf information is unknown, say so.\nDo not create fake facts.\n\nQuestion:\n{{$json.message}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        -80
      ],
      "id": "ca5fabd6-5069-45ae-a6ae-ea0e2bb9e1cc",
      "name": "Web Search Agent",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "query": "={{$json.message || \"Search latest information\"}}",
        "options": {
          "max_results": 5
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        944,
        -272
      ],
      "id": "c557076a-fa2d-4b04-b951-ad038dafa045",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "Y0fRYRZkrWYzg4K1",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.message || $json.body?.question || \"Search the knowledge base and answer my question\"}}",
        "options": {
          "systemMessage": "=Question:\n{{$json.message || $json.body?.question || \"Search the knowledge base and answer my question\"}}\n\nAnswer only from Qdrant documents.\nIf no document exists, say \"I don't have this information.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        80
      ],
      "id": "950f90d8-b2a9-4654-b2e7-dea3cb8dea5c",
      "name": "Knowledge Base Agent",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search company knowledge base documents and return relevant information for answering user questions.",
        "qdrantCollection": {
          "__rl": true,
          "value": "company_knowledge",
          "mode": "list",
          "cachedResultName": "company_knowledge"
        },
        "options": {
          "contentPayloadKey": "content"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        832,
        352
      ],
      "id": "a9da6779-f3a9-4f58-91fd-58f6db12b1ae",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "P1vJqlYiuFpeg2FR",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.message || $json.body?.question || \"Search the knowledge base and web, then answer my question\"}}",
        "options": {
          "systemMessage": "=Question:\n{{$json.message || $json.body?.question || \"Search the knowledge base and web, then answer my question\"}}\n\nUse both knowledge base documents and web search when needed.\nGive the final answer clearly.\nIf no information is found, say you don't have enough information."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1008,
        160
      ],
      "id": "fcd79098-1edd-4af4-aa69-6c7128696850",
      "name": "Hybrid Search Agent",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        -16
      ],
      "id": "01928acd-8239-4138-b6d0-893417c9b551",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        496,
        176
      ],
      "id": "9b204891-27e6-4979-814b-c4ebc4c5e1b7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ITsYd5j0CtmDyATf",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        624,
        304
      ],
      "id": "5353767a-887b-40db-bd15-f266794070f0",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ITsYd5j0CtmDyATf",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1088,
        384
      ],
      "id": "d9d1cb81-dbc7-44fd-9517-7eb6163f2f25",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "ITsYd5j0CtmDyATf",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        928,
        560
      ],
      "id": "c3b3380f-be2d-4a4c-b2ef-01232854483d",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "ITsYd5j0CtmDyATf",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output || $json.answer || $json.text || \"No answer found\" }}",
        "options": {
          "systemMessage": "You are a Final AI Assistant.\n\nYou receive answers from:\n1. Web Search Agent\n2. Knowledge Base Agent\n3. Hybrid Search Agent\n\nCombine all results and give one final answer.\n\nRules:\n- Prefer company knowledge base information.\n- Use web results for latest information.\n- Do not mention internal agents.\n- Answer clearly and directly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1552,
        320
      ],
      "id": "d2c8cc76-3d2e-47ab-847e-5c1c57434346",
      "name": "Final AI",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1424,
        528
      ],
      "id": "c02be669-b1bd-4916-8f50-d171bc974f56",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "ITsYd5j0CtmDyATf",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Web Search Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Knowledge Base Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hybrid Search Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Search Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Web Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Hybrid Search Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Final AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Web Search Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Hybrid Search Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Final AI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Final AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "676e4ab9-7416-4f7a-96a9-62aefc130315",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f42be1e9bbb144780f2d7a641ca9bec33e26feef127405a5231d8702bc9233f5"
  },
  "nodeGroups": [],
  "id": "dhm1pbOvdIfLaRga",
  "tags": []
}